@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.bigScreen {
  .appFlare {
    grid-template-areas:
      'logo options'
      'typing typing'
      'footer footer';

    &-configurations {
      pointer-events: all;

      position: absolute;
      z-index: 1;
      top: 80px + v.$padding;
      left: -370px;

      width: 370px;
      height: calc(100% - (80px + v.$padding));

      background-color: rgb(v.$bg1);

      transition: left 0.5s v.$bezier;

      &.active {
        left: 0;
      }
    }

    &-typingOptions {
      .typingOptions-menu {
        display: block;
      }
    }
  }
}

@include m.largeScreen {
  .appFlare {
    grid-template-areas:
      'logo'
      'options'
      'typing'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    height: auto;

    &-configurations {
      top: 0;
      height: calc(100%);
      padding-top: v.$padding * 2;
    }
  }
}

@include m.smallScreen {
  .appFlare {
    grid-template-columns: 100%;
  }
}

@include m.smallerScreen {
  .appFlare-configurations {
    left: -100%;
    width: 100%;
  }
}
