@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.typingTest {
  overflow: hidden;
  justify-content: center;

  @include d.flex($ali: center, $gap: v.$padding * 2.5);

  &-input {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
  }

  &-phrase {
    @include d.flex($dir: row);

    flex-wrap: wrap;
    justify-content: center;

    width: 80%;

    font-size: v.$fH1;
    color: rgb(v.$fn3);
    text-align: center;

    .word {
      border-bottom: 1.5px solid transparent;
      transition: border-color 0.3s ease-in-out;

      &.marked {
        border-color: v.$error;
      }
    }

    .letter {
      position: relative;

      &.active::before {
        content: '';
        position: absolute;
        background-color: rgb(v.$tn1);
        animation: 1s blink infinite ease-in-out;
      }

      @keyframes blink {
        0%,
        25% {
          opacity: 1;
        }

        75% {
          opacity: 0;
        }
      }

      &.active.is-last::before {
        left: 100%;
      }

      &.correct {
        color: rgb(v.$fn1);
      }

      &.incorrect {
        color: v.$error;
      }
    }

    &.LINE .letter.active::before {
      top: 0;
      left: -2px;
      width: 2px;
      height: 100%;
    }

    &.DOT .letter.active::before {
      top: 50%;
      left: -10px;
      transform: translateY(-50%);

      width: 10px;
      height: 10px;

      border-radius: 50%;
    }

    &.DASH .letter.active::before {
      bottom: 0;
      left: -15px;
      width: 15px;
      height: 5px;
    }

    &.flare .letter.active::before {
      bottom: 0;
      left: -15px;

      width: 15px;
      height: 15px;

      background-color: transparent;
      background-image: url('/logo.svg');
      background-repeat: no-repeat;
      background-size: 15px;
    }

    // LINE = '|',
    // DOT = '•',
    // DASH = '-',
    // TILDE = '~'

    &.blind {
      .word.marked {
        border-color: transparent;
      }

      .letter.incorrect,
      .letter.correct {
        color: rgb(v.$fn3);
      }

      .letter {
        color: rgb(v.$fn1);
      }
    }

    &.focus {
      .word.marked {
        border-color: rgb(v.$fn2);
      }

      .letter.incorrect {
        color: rgb(v.$fn2);
      }

      .letter.correct {
        color: transparent;
      }

      .letter {
        color: rgb(v.$fn1);
      }
    }
  }
}
